<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test task from Piano company</title>
</head>

<h3>Search posts in Stackoverflow</h3>
<div>
    <form action="/result">
        Search posts using Stackoverflow api:  <input type="text" name="query" value="java"><br><br>
        <input type="submit" value="Search">
    </form>
</div>

<h3>Full Stack Live Coding Exercise</h3>
<p><h3>Scenario</h3>Create a Java web application with a form that allows a user to enter a search string, queries Stack Exchange <br />to find questions with titles containing that string, and display the results.</p>
<p><h3>Requirements</h3>Display the results in a tabular format showing at least the date of the question, its title and who posted it.<br />If the question has been answered, use a visual style to differentiate it from unanswered questions.<br />The displayed item should have a means to navigate to the original question on Stack Exchange.</p>
<p><h3>Expectations</h3>Treat this project as you would any professional task.<br />You may use any resource, library, example code or documentation you can find on the web.</p>
<p><h3>Documentation</h3>Stackoverflow API<br /></p>

<a href="http://api.stackexchange.com/docs/search#order=desc&sort=activity&intitle=java&filter=default&site=stackoverflow&run=true">
   http://api.stackexchange.com/docs/search#order=desc&sort=activity&intitle=java&filter=default&site=stackoverflow&run=true
</a>

</body>
</html>